<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
    <form method = 'post' th:action="@{/user}">
        <label>
            <p class="errors" th:errors="${user.username}"></p>
            Username:
            <input type = 'text' name = 'username' th:value="${user.username}">
        </label>

        <label>
            <p class="errors" th:errors=" ${user.email}"></p>
            Email:
            <input  name = 'email' th:value="${user.email}">
        </label>

        <label>
            <p class="errors" th:errors="${user.password}"></p>
            Password:
            <input type = 'password' name = 'password'>
        </label>

        <label>
            <p class="errors" th:errors="${user.verify}"></p>
            Verify Password:
            <input type = 'password' name = 'verify'>
        </label>

        <p th:text="${error}"></p>

        <input type = 'submit' value = 'Sign Up'>
    </form>

</body>
</html>